@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 576px) {

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 16px;
    }

    .site-header.sticky {
        position: static;
    }

    .site-navigation ul li a {
        font-size: 12px;
    }

    #navbar-toggle {
        display: block;
    }

    .site-navigation {
        display: none;
    }

    .site-navigation ul {
        margin: 25px 0 0;
        display: block;
        float: none;
    }

    .site-navigation ul li {
        margin: 0 0 15px;
        border-bottom: 1px solid #39393c;
        padding: 0 0 5px;
    }

    .homebanner {
        height: 40vh;
    }

    .bannercontentwrapper .bannercontent .thumbnail-img {
        max-width: 90px;
        margin: 0 0 20px;
    }

    .bannercontentwrapper .bannercontent h1 {
        font-size: 16px;
        padding: 10px 0;
        margin: 0 0 20px;
    }

    .bannercontentwrapper .bannercontent a {
        font-size: 11px;
    }

    .bannercontentwrapper .bannercontent a img {
        max-width: 40px;
        margin: 0 auto 10px;
    }

    .eventsblockwrapper .eventsblock {
        min-height: 150px;
    }

    .eventsblockwrapper .eventsblock.hasbg {
        padding: 15px 0;
    }

    .eventsblock.hasbg .inner span {
        font-size: 12px;
    }

    .eventsblock.hasbg .inner a {
        margin-top: 20px;
    }

    .postdate {
        font-size: 14px;
    }

    .eventsblock .event-details address {
        font-size: 12px;
    }

    .section-title {
        margin: 0 0 25px;
    }
    
    .section-title p {
        font-size: 12px;
    }

    .home_section {
        padding: 50px 0 30px;
    }

    .videodetails {
        margin-top: 20px;
    }

    .videodetails span {
        font-size: 12px;
    }

    .home_section.video .site-btn {
        margin-top: 20px;;
    }

    .site-btn {
        padding: 10px 16px;
    }

    .videodetails p {
        margin-top: 15px;
    }

    .home_section.about {
        padding: 60px 0 40px;
    }

    .aboutblockwrapper .aboutcontent {
        position: static;
        max-width: 100%;
    }

    .home_section.about .section-title {
        margin: 0 0 20px;
    }

    .aboutblockwrapper .aboutcontent {
        padding: 20px 20px;
    }

    .aboutblockwrapper .aboutcontent h4 {
        font-size: 16px;
        margin: 0 0 15px;
    }

    .aboutblockwrapper .aboutcontent p {
        font-size: 13px;
        margin: 0 0 10px;
    }

    .aboutblockwrapper .aboutcontent p + p {
        margin: 0 0 20px;
    }

    .aboutblockwrapper .thumbnail-img img {
        width: 100%;
    }

    .blogsingleview .blogdetails {
        margin: 0;
        padding: 20px 0;
    }

    .blogsingleview .blogdetails p {
        font-size: 13px;
    }

    .bloglistview a h5 {
        font-size: 12px;
    }

    .home_section.blog .btnwrapper {
        text-align: center;
    }

    .testimonials-slider .slider-item p.desc {
        padding: 0 15px;
        font-size: 15px;
    }

    .testimonials-slider .slider-item p.desc::before,
    .testimonials-slider .slider-item p.desc::after {
        display: none;
    }

    .home_section.testimonials .section-title {
        margin: 0 0 20px;
    }

    .testimonials-slider .slider-details {
        margin-top: 20px;
    }

    .subscribeform .form-group {
        width: 100%;
        margin: 0 0 10px;
    }

    .form-control {
        height: 40px;
        padding: 15px 15px;
    }

    .subscribeform .site-btn {
        padding: 10px 20px;
    }

    .home_section.subscribe {
        padding: 50px 0 20px;
    }

    .footer-navigation {
        margin: 20px 0 0;
    }

    .footer-navigation li {
        display: block;
        margin: 0 0 8px;
    }

    .footer-navigation li a {
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;
    }

    .footer-block.right {
        text-align: left;
        margin: 10px 0 0;
    }

    .message p {
        font-size: 14px;
    }
    

    
}