/*
    Theme Name: Church
    Theme URI: 
    Description: This website is related to the church
    Version: 1.0
    Tags Used: Semantic HTML5 (header, footer, section, aside, figure, figcaption)
    Techology Used: HTML5, CSS3, Jquery-v3.4.1, Bootstrap 4, FONTAWESOME 5
    Fonts: OpenSans
    Designer: Saugat Shrestha
    Developer: 
*/


/*==============================
LINKING FONTS
==============================*/

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*==========================================
OVERRIDING CSS
==========================================*/

body {
    font-family: 'open_sanslight', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'open_sansbold';
    margin: 0;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 51px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 22px;;
}

h5 {
    font-size: 18px;
}

a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

figure,
address {
    margin: 0;
}

.btn:focus {
    box-shadow: none;
}

.form-group {
    margin: 0;
}

.form-control {
    border: 1px solid #cacaca;
    height: 50px;
    border-radius: 0px;
    padding: 20px 20px;
}

.form-control:focus {
    box-shadow: none;
}

iframe {
    display: block;
}


/*==========================================
COMMON CSS
==========================================*/

.thumbnail-img {
    position: relative;
    overflow: hidden;
}

.thumbnail-img.full img {
    width: 100%;
}

.home_section {
    padding: 70px 0 90px;
}

.section-title {
    text-align: center;
    position: relative;
    margin: 0 0 58px;
}

.section-title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    height: 68px;
    width: 49px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    background: url('../images/title-icon.png')no-repeat center;
}

.section-title h3 {
    text-transform: uppercase;
    color: #3d80bc;
    margin: 0 0 5px;
}

.section-title p {
    font-size: 14px;
}

.site-btn {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    background: #3d80bc;
    border-radius: 0px;
    padding: 13px 22px;
    font-family: 'open_sansbold';
}

.site-btn:hover {
    background: #2e6290;
    color: #fff;
}

.divider {
    border-top: 1px solid #eee;
    margin: 30px 0;
}

.breadcrumb {
    padding: 0;
    background: none;
    display: block;
}

.breadcrumb ul {
    float: right;
    margin: 15px 0 0;
}

.breadcrumb ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    font-size: 15px;
}

.breadcrumb ul li a {
    display: block;
    color: #5eadf5;
}

.breadcrumb ul li:last-child {
    margin-right: 0px;
}

.breadcrumb ul li.active::before {
    content: "/";
    position: absolute;
    top: 0;
    left: -13px;
    color: #fff;
}

.breadcrumb ul li.active {
    color: #fff;
}


/*==========================================
SITE HEADER CSS
==========================================*/

.site-header {
    background: #0c0c0d;
    padding: 15px 0;
}

.site-header.sticky {
    position: fixed;
    z-index: 999999;
	width: 100%;
    top: 0;
    left: 0;
    animation: animateheader 0.5s;
    -webkit-animation: animateheader 0.5s;
    -moz-animation: animateheader 0.5s;
}

@-webkit-keyframes animateheader {
	from {top: -200px;}
	to {top: 0}
}

@keyframes animateheader {
	from {top: -200px;}
	to {top: 0}
}

.site-logo > a {
    display: block;
}

.site-logo > a img {
    max-width: 100px;
}

.site-navigation ul {
    display: flex;
    align-items: center;
    margin: 15px 0 0;
    float: right;
}

.site-navigation ul li {
    margin-right: 25px;
}

.site-navigation ul li:last-of-type {
    margin-right: 0px;
}

.site-navigation ul li a {
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.site-navigation ul li.current-menu-item a,
.site-navigation ul li a:hover {
    color: #3d80bc;
}

#navbar-toggle {
    display: none;
    position: absolute;
    top: 25px;
    right: 15px;
    margin: 0;
    border-radius: 2px;
    border: none;
    width: 24px;
    height: 16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#navbar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #3b7bb5;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navbar-toggle span:nth-child(1) {
    top: 0px;
}

#navbar-toggle span:nth-child(2) {
    top: 7px;
}

#navbar-toggle span:nth-child(3) {
    top: 14px;
}

#navbar-toggle.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#navbar-toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#navbar-toggle.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*==========================================
HOME BANNER CSS
==========================================*/

.homebanner {
    background: url('../images/homebanner.jpg')no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.homebanner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.38);
}

.bannercontentwrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannercontentwrapper .bannercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.bannercontentwrapper .bannercontent h1 {
    font-family: inherit;
    text-transform: uppercase;
    margin: 0 0 80px;
    padding: 15px 0;
    position: relative;
    font-size: 35px;
}

.bannercontentwrapper .bannercontent h1::before {
    position: absolute;
    content: "";
    height: 1px;
    left: 25%;
    top: 0;
    width: 50%;
    background: #fff;
}

.bannercontentwrapper .bannercontent h1::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 25%;
    bottom: 0;
    width: 50%;
    background: #fff;
}

.bannercontentwrapper .bannercontent .thumbnail-img {
    margin: 0 0 40px;
    max-width: 140px;
}

.bannercontentwrapper .bannercontent .thumbnail-img img {
    width: 100%;
}

.bannercontentwrapper .bannercontent a {
    color: #fff;
}

.bannercontentwrapper .bannercontent a img {
    display: block;
    margin: 0 auto 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.bannercontentwrapper .bannercontent a:hover {
    color: #ded2d2
}

.bannercontentwrapper .bannercontent a:hover img {
    filter: contrast(50%);
    -webkit-filter: contrast(50%);
}


/*==========================================
HOME EVENTS CSS
==========================================*/

.homeevents .row {
    margin: 0;
}

.homeevents [class*=col-] {
    padding: 0;
}

.eventsblockwrapper .eventsblock {
    min-height: 295px;
    position: relative;
}

.eventsblock {
    background: rgba(255,255,255,0.9);
}

.eventsblock > a {
    display: block;
}

.eventsblock > a .thumbnail-img img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.eventsblock > a:hover .thumbnail-img img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    opacity: 0.8;
}

.eventsblockwrapper .eventsblock.hasbg {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #3d80bc;
}

.eventsblock > .thumbnail-img img {
    width: 100%;
} 

.eventsblock.hasbg .inner span {
    display: block;
    font-size: 14px;
}

.eventsblock.hasbg .inner .thumbnail-img {
    background: url('../images/right-arrow.png')no-repeat;
    height: 12px;
    width: 19px;
}

.eventsblock.hasbg .inner a {
    display: block;
    margin-top: 40px;
    color: #fff;
}

.eventsblock.hasbg .inner a .thumbnail-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-position: -19px 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.eventsblock.hasbg .inner a:hover {
    color: #e0d7d7;
}

.eventsblock.hasbg .inner a:hover .thumbnail-img {
    background-position: 0px 0px;
}

.postdate {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    color: #2a2b2b;
}

.eventsblock .event-details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 25px;
    background: #f1f1f1;
}

.eventsblock .event-details h5 {
    text-transform: uppercase;
    color: #807373;
    margin: 0 0 10px;
}

.eventsblock .event-details p {
    color: #000;
}

.eventsblock.isstatic .event-details {
    background: #f2f2f2;
    position: static;
}

.eventsblock.isstatic .postdate {
    font-size: 16px;
}

.pagecontent.events .eventsblock.isstatic {
    margin: 0 0 30px;
}


/*==========================================
HOME VIDEO SECTION CSS
==========================================*/

.videodetails {
    margin-top: 50px;
}

.videodetails h4 {
    text-transform: uppercase;
}

.videodetails p {
    margin-top: 25px;
}

.videodetails span {
    font-size: 14px;
    margin: 5px 0 0;
    display: block;
}

.home_section.video .site-btn {
    margin-top: 60px;
}


/*==========================================
HOME ABOUT SECTION CSS
==========================================*/

.home_section.about {
    background: url('../images/about-secbg.jpg')no-repeat;
    background-size: cover;
    padding: 90px 0 80px;
}

.home_section.about .section-title {
    margin: 0 0 70px;
}

.aboutblockwrapper {
    position: relative;
    text-align: right;
}

.aboutblockwrapper .aboutcontent {
    background: #fff;
    padding: 60px 38px;
    position: absolute;
    top: -35px;
    left: 0;
    z-index: 1;
    max-width: 57.3%;
    text-align: left;
}

.aboutblockwrapper .aboutcontent h4 {
    font-family: 'open_sanssemibold';
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 28px;
}

.aboutblockwrapper .aboutcontent p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 28px;
}

.aboutblockwrapper .aboutcontent p + p {
    text-indent: 20px;
    margin: 0 0 43px;
}


/*==========================================
HOME BLOG SECTION CSS
==========================================*/

.home_section.blog {
    padding: 65px 0 70px;
}

.blogsingleview .blogdetails {
    background: #fff;
    padding: 30px 30px;
    position: relative;
    margin: 0 25px;
    margin-top: -100px;
}

.blogsingleview .thumbnail-img img {
    width: 100%;
}

.blogdetails h5 {
    margin: 0 0 15px;
}

ul.post-meta {
    margin: 0 0 20px;
}

ul.post-meta li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    font-family: 'open_sansitalic';
    color: #3d80bc;
}

ul.post-meta li:last-child {
    margin-right: 0px;
}
.blogsingleview .blogdetails p {
    font-size: 14px;
}

.bloglistview {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.bloglistview .thumbnail-img {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    width: 40%;
}

.bloglistview a {
    display: block;
}

.bloglistview .thumbnail-img img {
    width: 100%;
}

.bloglistview .blogdetails {
    display: inline-block;
    vertical-align: top;
    width: 54%;
}

.bloglistview a h5 {
    font-size: 14px;
    color: #4e4a4a;
}

.home_section.blog .btnwrapper {
    text-align: right;
}

.bloglistview a .thumbnail-img img {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.bloglistview a:hover .thumbnail-img img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
}


/*==========================================
HOME TESTIMONIALS SECTION CSS
==========================================*/

.home_section.testimonials {
    background: url('../images/testimonials-bg.jpg')no-repeat;
    background-size: cover;
}

.home_section.testimonials .section-title::before {
    background: url('../images/title-icon2.png')no-repeat;
}

.home_section.testimonials .section-title {
    color: #fff;
    margin: 0 0 90px;
}

.home_section.testimonials .section-title h3 {
    color: #fff;
}

.home_section.testimonials .section-title p {
    color: #bfbfbf;
}

.bx-wrapper {
    box-shadow: none;
    background: none;
    border: none;
    margin: 0;
}

.testimonials-slider .slider-item {
    text-align: center;
}

.testimonials-slider .slider-item p.desc {
    position: relative;
    padding: 0 80px;
    color: #fff;
}

.testimonials-slider .slider-item p.desc::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 38px;
    width: 57px;
    background: url('../images/quote-lefticon.png')no-repeat;
}

.testimonials-slider .slider-item p.desc::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 38px;
    width: 57px;
    background: url('../images/quote-righticon.png')no-repeat;
}

.testimonials-slider .slider-item p {
    font-size: 19px;
    color: #bfbfbf;
}

.slider-container {
    max-width: 945px;
    margin: 0 auto;
}

.testimonials-slider .slider-details {
    margin-top: 50px;
}

.testimonials-slider .slider-details p {
    font-size: 15px;
    color: #388cd7;
    font-family: 'open_sansitalic';
}

.testimonials-slider .slider-details p span {
    display: block;
    color: #83b1da;
    font-size: 14px;
}


/*==========================================
SUBSCRIBE SECTION CSS
==========================================*/

.home_section.subscribe {
    padding: 70px 0 70px;
}

.subscribeform .form-group {
    display: inline-block;
    vertical-align: middle;
    width: 27.5%;
    margin-right: 10px;
}

.subscribeform .form-group:last-child {
    width: auto;
    margin-right: 0px;
}

.subscribeform .site-btn {
    font-size: 14px;
    padding: 13.5px 22px;
}


/*==========================================
SITE FOOTER CSS
==========================================*/

.site-footer {
    background: #0c0c0c;
    padding: 30px 0;
}

.footer-block {
    font-size: 12px;
    color: #bcbcbc;
}

.footer-block .thumbnail-img {
    margin: 0 0 10px;
}

.footer-navigation {
    margin: 40px 0 0;
}

.footer-navigation li {
    display: inline-block;
    vertical-align: top;
}

.footer-navigation li a {
    display: block;
    color: #bcbcbc;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #bcbcbc;
    font-size: 12px;
}

.footer-navigation li a:hover {
    color: #3d80bc;
}

.footer-navigation li:last-child a {
    margin-right: 0px;
    border-right: 0px;
    padding-right: 0px;
}

.footer-block.right {
    text-align: right;
}

.social-media {
    margin: 0 0 20px;
}

.social-media li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.social-media li:last-of-type {
    margin-right: 0px;
}

.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: #2a2a2a;
    border-radius: 100%;
    font-size: 16px;
    color: #aaaaaa;
}

.social-media li a:hover {
    background: #3d80bc;
    color: #fff;
}

.message p {
    font-size: 20px;
    font-size: 20px;
    font-family: 'open_sansitalic';
}

.message p span {
    display: block;
    font-size: 13px;
}



/*==========================================
PAGE BANNER CSS
==========================================*/

.pagebanner {
    background-size: cover;
    background: url('../images/aboutbg.jpg')no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
}

.pagebanner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.pagebanner h3 {
    color: #e4dada;
    position: relative;
    font-size: 26px;
}

.pagebanner h3::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    height: 3px;
    background: #336796;
    width: 50px;
}


/*==========================================
PAGE ABOUT CSS
==========================================*/

.pagecontent.aboutchurch {
    padding: 80px 0 180px; 
}

.churchimg {
    position: relative;
}

.churchimg .thumbnail-img {
    max-width: 450px;
    float: right;
}

.churchimg .videothumb {
    position: absolute;
    top: 120px;
    left: 0;
    max-width: 470px;
    border: 1px solid rgba(0,0,0,.08);
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.1);
    -ms-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.1);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,.1);
    padding: 9px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.churchimg .videothumb a.videoplay {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 28px;
    background-color: #fff;
    color: #53bf3f;
    border-radius: 50%;
    text-align: center;
}

.churchimg .videothumb a.videoplay i {
    margin-left: 7px;
}

.churchcontent h3 {
    margin: 0 0 20px;
    color: #3d80bc;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 24px;
}

.churchcontent p {
    font-size: 14px;
    margin: 0 0 20px;
    font-family: 'open_sansregular';
    line-height: 23px;
    color: #4c4747;
}

.churchcontent .site-btn {
    font-size: 14px;
    margin: 30px 0 0;
}

.pagecontent.pastors {
    padding: 80px 0;
}

.pastors-block {
    border: 1px solid rgba(0,0,0,.05);
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
}

.pastors-info {
    position: relative;
    margin: 10px 0 0;
    padding: 40px 0 0;
}

.pastors-info::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    background: url('../images/cross.png')no-repeat;
    width: 24px;
    height: 34px;
}

.pastors-block .thumbnail-img {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.pastors-block .thumbnail-img img {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.pastors-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 5px;
    color: #585353;
}

.pastors-info p {
    color: #555b62;
    font-size: 14px;
    line-height: 23px;
}


/*==========================================
BECOME VOLUNTEER SECTION CSS
==========================================*/

.becomevc {
    background: url('../images/volunteerbg.jpg')no-repeat center center;
    background-size: cover;
    height: 450px;
}

.volunteerWrapper .inner {
    color: #fff;
    padding: 40px 40px;
}

.volunteerWrapper .inner h4 {
    margin: 0 0 20px;
    font-size: 24px;
    text-transform: uppercase;
}

.volunteerWrapper .inner p {
    font-size: 15px;
}

.volunteerWrapper .site-btn {
    font-size: 14px;
    margin-top: 30px;
}

.volunteerWrapper .row {
    display: block;
}

.volunteerWrapper .row [class*=col-] {
    float: right;
}


/*==========================================
PAGE CONTENT CSS
==========================================*/

.pagecontent {
    padding: 60px 0;
}



/*==========================================
CONTACT PAGE CSS
==========================================*/

.pagebanner.contact {
    background: url('../images/contactbg.jpg')no-repeat;
}

.contactmap {
    padding: 80px 0;
}

.mapwrapper {
    border: 1px solid rgba(0,0,0,.05);
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
}

.contactformwrap {
    border: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.02);
}

.pagecontent.contact {
    padding-top: 0px;
}

.contactformwrap .contactform {
    padding: 40px 30px 20px 0;
}

.contactform .form-group {
    margin: 0 0 15px;
}

.contactform .form-group label {
    font-size: 14px;
}

.contactform .form-group .form-control {
    height: 42px;
    padding: 15px 15px;
    font-size: 15px;
}

.contactform .form-group textarea.form-control {
    height: auto;
    resize: none;
}

.contactform .site-btn {
    font-size: 14px;
    margin: 20px 0 0;
}

.contactform h4 {
    margin: 0 0 5px;
}

.contactform p {
    margin: 0 0 25px;
    font-size: 15px;
    color: #807474;
}

.contact-details {
    padding: 40px 40px 20px;
    background: #3d80bc;
    height: 500px;
}

.contact-block {
    margin: 0 0 20px;
}

.contact-block h2 {
    margin: 0 0 60px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}

.contact-block h2::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background: #fff;
}

.contact-block p {
    color: #fff;
    font-size: 15px; 
}

.contact-block p a {
    color: #fff;
}

.contact-block ul li {
    margin: 0 0 30px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-left: 30px;
}

.contact-block ul li span {
    display: block;
    margin: 5px 0 0;
}

.contact-block ul li i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 18px;
}

.social-medialinks {
    margin: 40px 0 0;
}

.social-medialinks h6 {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.social-medialinks ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.social-medialinks ul li:last-child {
    margin-right: 0px;
}

.social-medialinks ul li a {
    height: 30px;
    width: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.social-medialinks ul li a i {
    width: 100%;
    text-align: center; 
}

.social-medialinks ul li a.facebook {
    background: #3d5e99;
    color: #fff;
}

.social-medialinks ul li a.twitter {
    background: #1da1f2;
}

.social-medialinks ul li a.instagram {
    background: #c60187;
}

.social-medialinks ul li a.google {
    background: #d73d32;
}

.social-medialinks ul li a.linkedin {
    background: #0177b5; 
}

.social-medialinks ul li a.flickr {
    background: #0063db;
}


/*==========================================
OUR BLOG PAGE CSS
==========================================*/

.pagebanner.events {
    background: url('../images/eventsbg.jpg')no-repeat;
}

.pagecontent.blog {
    padding: 60px 0;
    background: whitesmoke;
}

a.readmore {
    display: block;
    margin-top: 20px;
    color: #00568c;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a.readmore i {
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a.readmore:hover {
    color: #223d56;
}

a.readmore:hover i {
    margin-left: 8px;
}

p.posted-time {
    margin: 0 0 15px;
    font-size: 14px;
}

p.posted-time i {
    margin-right: 7px;
}

.site-pagination {
    text-align: center;
    margin-top: 80px;
}

.site-pagination .pagination > .active > a, 
.site-pagination .pagination > .active > span, 
.site-pagination .pagination > .active > a:hover, 
.site-pagination .pagination > .active > span:hover, 
.site-pagination .pagination > .active > a:focus, 
.site-pagination .pagination > .active > span:focus {
    background: #044879;
    border-color: #044879;
    color: #fff;
}

.site-pagination .pagination li {
    margin-right: 10px;
}

.site-pagination .pagination li a {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-family: 'open_sansbold';
    color: #4c4848;
    background: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.site-pagination .pagination li a:hover {
    background: #044879;
    border-color: #044879;
    color: #fff;
}

.single-details p {
    font-size: 14px;
    margin: 0 0 15px;
    line-height: 24px;
}

.single-details h4 {
    margin: 0 0 15px;
    font-size: 19px;
}

.single-details .thumbnail-img {
    margin: 0 0 20px;
}

.single-details .thumbnail-img img {
    width: 100%;
}

.blogListWrapper {
    padding-right: 30px;
}

.blogblock .thumbnail-img img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.blogblock:hover .thumbnail-img img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
}

.blog-details h4 {
    text-transform: uppercase;
    font-size: 17px;
    margin: 0 0 15px;
}

.blog-details ul.post-meta li {
    font-family: 'open_sansregular';
    font-size: 12px;
    color: #565555;
    margin-right: 30px;
}

.blog-details ul.post-meta li:last-child {
    margin-right: 0px;
}

.blog-details ul.post-meta li i {
    margin-right: 5px;
}

.blog-details p {
    font-family: 'open_sansregular';
    line-height: 23px;
    font-size: 13px;
}

.blog-details .site-btn {
    margin: 20px 0 0;
    padding: 8px 15px;
}

.blogblock {
    border-bottom: 1px solid #ddd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

.blogblock:last-child {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.newsletter {
    background: #fff;
    padding: 25px 15px;
    text-align: center;
    border-top: 2px dashed #ddd;
    border-bottom: 2px dashed #ddd;
}

.newsletter p {
    font-family: 'open_sansregular';
    margin: 0 0 20px;
}

.sidebartitle {
    margin: 0 0 20px;
    font-size: 18px;
}

.newsletterform .form-group:first-child {
    margin: 0 0 10px;
    position: relative;
}

.newsletterform .form-group .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 32px;
    background: #ab9d9d;
    line-height: 30px;
    color: #fff;
}

.newsletterform .form-control {
    height: 30px;
    padding: 15px 15px 15px 45px;
    font-size: 13px;
}

.newsletterform .site-btn {
    width: 100%;
    padding: 9px 22px;
}

.recentpostWrapper {
    margin-top: 40px;
}

.recentpostWrapper .inner {
    background: #fff;
    padding: 15px 15px;
}

.recentblock a {
    display: block;
    position: relative;
    padding-left: 105px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.recentblock:last-child a {
    border-bottom: none;
    padding-bottom: none;
    margin-bottom: 0px;
}

.recentblock a span {
    display: block;
    margin: 10px 0 0;
    font-size: 12px;
    color: #6d6464; 
}

.recentblock a span i {
    margin-right: 5px;
}

.recentblock .thumbnail-img {
    max-width: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

.recentblock .thumbnail-img img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.recentblock h5 {
    font-family: 'open_sanssemibold';
    font-size: 12px;
    color: #000;
    line-height: 18px;
}

.recentblock a:hover .thumbnail-img img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
}

.recentblock a:hover h5 {
    color: #3d80bc;
}


/*==========================================
OUR EVENTS PAGE CSS
==========================================*/

.eventsblock.isstatic > a {
    display: block;
}

.eventsblock.isstatic > a .row {
    margin: 0;
}

.eventsblock.isstatic > a [class*="col-"] {
    padding: 0;
}

.event-date {
    background: #3d80bc;
    height: 278px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.eventsblock.isstatic > a:hover .event-date {
    background: #4c9be2;
}

.event-date span {
    display: block;
    font-size: 30px;
    margin: 10px 0 0;
    font-family: 'open_sansbold';
}


/*=================================
PAGE VIDEO CSS
=================================*/

.videoimgwrapper {
    padding: 8px;
    background: #e6e6e6;
    border-radius: 3px;
}

.blogblock.video [class*=col-] {
    display: flex;
    align-items: center;
}

.videoimgwrapper .thumbnail-img .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoimgwrapper .thumbnail-img .play-icon i {
    color: #fff;
    height: 35px;
    width: 35px;
    background: #524848;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
}

.blogblock:hover .videoimgwrapper .thumbnail-img .play-icon i {
    background: #000;
}

.modal-dialog {
    margin-bottom: 0px;
    max-width: 650px;
}

.videomodal {
    z-index: 999999;
}

.videomodal .modal-body {
    padding: 0;
    position: relative;
}

.videomodal .modal-content {
    border: none;
    border-radius: 0px;
}

.videomodal .modal-body .close {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #3d80bc;
    height: 40px;
    width: 40px;
    z-index: 1;
    text-shadow: none;
    color: #fff;
    opacity: 1;
    line-height: 40px;
    border-radius: 100%;
    font-size: 26px;
}

.videomodal .modal-body .close:focus {
    outline: 0;
}


/*=================================
SINGLE PAGE CSS
=================================*/

.pagebanner.single h3 {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 28px;
}

.pagecontent.single {
    background: whitesmoke;
}

.single-post .thumbnail-img {
    margin: 0 0 30px;
}

.postshare {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 30px 0 0;
}

.postshare h6 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    border-right: 1px solid #ddd;
    margin-right: 15px;
    font-family: 'open_sanssemibold';
    font-size: 14px;
}

.postshare ul {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
}

.postshare ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.postshare ul li:last-child {
    margin-right: 0px;
}

.postshare ul li a {
    display: block;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background: #3b5998;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
}

.postshare ul li a.tw {
    background: #1da1f2;
}

.postshare ul li a.lin {
    background: #0077b5;
}

.postshare ul li a.ins {
    background: #fb1949;
}

.totalcomments {
    text-align: right;
    margin: 20px 0 0;
}

.totalcomments i {
    color: #bbb;
    margin-right: 5px;
    font-size: 16px;
}
